<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @post do |f| %>
    <div class="form_group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form_group">
      <%= f.label :summary %>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="form_group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <br />
    <div class="form_group">
      <%= f.submit "Сохранить", class: "btn btn-primary" %>
      <%= link_to 'Назад', :back, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
<% end %>
