<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS and JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- jQuery and Popper.js(necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/scripts.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-primary">
        <ul class="nav">
          <div class="navbar-header">
            <a class="navbar-brand bg-primary" href="<%= posts_path %>">Статьи</a>
          </div>

          <div class="navbar-header">
            <a class="navbar-brand bg-primary" href="#">Контакты</a>
          </div>

          <div class="navbar-header">
            <% if user_signed_in? %>
              <a class="navbar-brand bg-primary" data-method="delete" href="<%= destroy_user_session_path %>">Выйти</a>
            <% else %>
              <a class="navbar-brand bg-primary" href="<%= new_user_session_path %>">Войти</a>
            <% end %>
          </div>
        </ul>

        <%= link_to 'Новая статья', new_post_path, class: 'navbar-brand pull-xs-right bg-primary' %>
      </nav>

      <div class="container main">
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |name, message| %>
              <div class="alert alert-<%= name %>">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
